MYSQLHOST=srv.example.com
MYSQLPORT=3306
MYSQLUSER=your_user
MYSQLPASSWORD=your_password
MYSQLDATABASE=your_database
PORT=3000
CORS_ORIGIN=http://localhost:4200
SEED_ADMIN_EMAIL=admin@nexus.gg
SEED_ADMIN_PASSWORD=ChangeThisBeforeUse2026!
SESSION_HOURS=8
